
  <% if !session[:user_id] %>
    <%= render template: "dashboard/session_select" %>
  <% else %>
    <h1>Welkom</h1>
    <%= @user.name %>
    <%= image_tag @user.avatar.url(:thumb) %>
    <%= link_to "Switch", controller: "dashboard", action: "unset_user_session" %>
  <% end %>

