<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welkom bij Not Your Mom <%= @user.name %></h1>
    <p>
      Jij bent uitgenodigd voor een groep op Not Your Mom
      Je gebruikersnaam is <%= @house.name %>.<br>
      Het wachtwoord is geheim en is bekend bij <%= @creator %> <br>
    </p>
    <p>
      <br>
      Installeer de webapp op  <%= @url %>.
    </p>
    <p>Bedankt enzo</p>
  </body>
</html>
